<div class="new-player-form-wrap">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="player-login-title-wrap">
                    <h2>Welcome to Node Sea Battle!!!</h2>
                    <p>Please, write your nickname, set Your battleships and press big red button.</p>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="field-wrap user-field-wrap">
                    <table class="field-table user-setting-ships-table">
                        <tr>
                            <th><span> </span></th>
                            <th><span>1</span></th>
                            <th><span>2</span></th>
                            <th><span>3</span></th>
                            <th><span>4</span></th>
                            <th><span>5</span></th>
                            <th><span>6</span></th>
                            <th><span>7</span></th>
                            <th><span>8</span></th>
                            <th><span>9</span></th>
                            <th><span>10</span></th>
                        </tr>
                        <tr>
                            <th><span>A</span></th>
                            <td><span row="1" col="1"></span></td>
                            <td><span row="1" col="2"></span></td>
                            <td><span row="1" col="3"></span></td>
                            <td><span row="1" col="4"></span></td>
                            <td><span row="1" col="5"></span></td>
                            <td><span row="1" col="6"></span></td>
                            <td><span row="1" col="7"></span></td>
                            <td><span row="1" col="8"></span></td>
                            <td><span row="1" col="9"></span></td>
                            <td><span row="1" col="10"></span></td>
                        </tr>
                        <tr>
                            <th><span>B</span></th>
                            <td><span row="2" col="1"></span></td>
                            <td><span row="2" col="2"></span></td>
                            <td><span row="2" col="3"></span></td>
                            <td><span row="2" col="4"></span></td>
                            <td><span row="2" col="5"></span></td>
                            <td><span row="2" col="6"></span></td>
                            <td><span row="2" col="7"></span></td>
                            <td><span row="2" col="8"></span></td>
                            <td><span row="2" col="9"></span></td>
                            <td><span row="2" col="10"></span></td>
                        </tr>
                        <tr>
                            <th><span>C</span></th>
                            <td><span row="3" col="1"></span></td>
                            <td><span row="3" col="2"></span></td>
                            <td><span row="3" col="3"></span></td>
                            <td><span row="3" col="4"></span></td>
                            <td><span row="3" col="5"></span></td>
                            <td><span row="3" col="6"></span></td>
                            <td><span row="3" col="7"></span></td>
                            <td><span row="3" col="8"></span></td>
                            <td><span row="3" col="9"></span></td>
                            <td><span row="3" col="10"></span></td>
                        </tr>
                        <tr>
                            <th><span>D</span></th>
                            <td><span row="4" col="1"></span></td>
                            <td><span row="4" col="2"></span></td>
                            <td><span row="4" col="3"></span></td>
                            <td><span row="4" col="4"></span></td>
                            <td><span row="4" col="5"></span></td>
                            <td><span row="4" col="6"></span></td>
                            <td><span row="4" col="7"></span></td>
                            <td><span row="4" col="8"></span></td>
                            <td><span row="4" col="9"></span></td>
                            <td><span row="4" col="10"></span></td>
                        </tr>
                        <tr>
                            <th><span>E</span></th>
                            <td><span row="5" col="1"></span></td>
                            <td><span row="5" col="2"></span></td>
                            <td><span row="5" col="3"></span></td>
                            <td><span row="5" col="4"></span></td>
                            <td><span row="5" col="5"></span></td>
                            <td><span row="5" col="6"></span></td>
                            <td><span row="5" col="7"></span></td>
                            <td><span row="5" col="8"></span></td>
                            <td><span row="5" col="9"></span></td>
                            <td><span row="5" col="10"></span></td>
                        </tr>
                        <tr>
                            <th><span>F</span></th>
                            <td><span row="6" col="1"></span></td>
                            <td><span row="6" col="2"></span></td>
                            <td><span row="6" col="3"></span></td>
                            <td><span row="6" col="4"></span></td>
                            <td><span row="6" col="5"></span></td>
                            <td><span row="6" col="6"></span></td>
                            <td><span row="6" col="7"></span></td>
                            <td><span row="6" col="8"></span></td>
                            <td><span row="6" col="9"></span></td>
                            <td><span row="6" col="10"></span></td>
                        </tr>
                        <tr>
                            <th><span>G</span></th>
                            <td><span row="7" col="1"></span></td>
                            <td><span row="7" col="2"></span></td>
                            <td><span row="7" col="3"></span></td>
                            <td><span row="7" col="4"></span></td>
                            <td><span row="7" col="5"></span></td>
                            <td><span row="7" col="6"></span></td>
                            <td><span row="7" col="7"></span></td>
                            <td><span row="7" col="8"></span></td>
                            <td><span row="7" col="9"></span></td>
                            <td><span row="7" col="10"></span></td>
                        </tr>
                        <tr>
                            <th><span>H</span></th>
                            <td><span row="8" col="1"></span></td>
                            <td><span row="8" col="2"></span></td>
                            <td><span row="8" col="3"></span></td>
                            <td><span row="8" col="4"></span></td>
                            <td><span row="8" col="5"></span></td>
                            <td><span row="8" col="6"></span></td>
                            <td><span row="8" col="7"></span></td>
                            <td><span row="8" col="8"></span></td>
                            <td><span row="8" col="9"></span></td>
                            <td><span row="8" col="10"></span></td>
                        </tr>
                        <tr>
                            <th><span>I</span></th>
                            <td><span row="9" col="1"></span></td>
                            <td><span row="9" col="2"></span></td>
                            <td><span row="9" col="3"></span></td>
                            <td><span row="9" col="4"></span></td>
                            <td><span row="9" col="5"></span></td>
                            <td><span row="9" col="6"></span></td>
                            <td><span row="9" col="7"></span></td>
                            <td><span row="9" col="8"></span></td>
                            <td><span row="9" col="9"></span></td>
                            <td><span row="9" col="10"></span></td>
                        </tr>
                        <tr>
                            <th><span>J</span></th>
                            <td><span row="10" col="1"></span></td>
                            <td><span row="10" col="2"></span></td>
                            <td><span row="10" col="3"></span></td>
                            <td><span row="10" col="4"></span></td>
                            <td><span row="10" col="5"></span></td>
                            <td><span row="10" col="6"></span></td>
                            <td><span row="10" col="7"></span></td>
                            <td><span row="10" col="8"></span></td>
                            <td><span row="10" col="9"></span></td>
                            <td><span row="10" col="10"></span></td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="player-name-form">
                    <select class="select-box" name="choosen_room" id="choosen_room">
                        <option value="">Select room</option>
                    </select>
                    <input type="text" class="input-text" placeholder="Your name" id="name">
                    <button type="submit" name="join" id="join" class="button button-join-game">Join Battle!</button>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="sea-battle-wrap" style="display: none;">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">

            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="field-wrap oponent-field-wrap">
                    <p class="title">Opponent`s ships</p>
                    <table class="field-table opponent-field-table not-started">
                        <tr>
                            <th><span> </span></th>
                            <th><span>1</span></th>
                            <th><span>2</span></th>
                            <th><span>3</span></th>
                            <th><span>4</span></th>
                            <th><span>5</span></th>
                            <th><span>6</span></th>
                            <th><span>7</span></th>
                            <th><span>8</span></th>
                            <th><span>9</span></th>
                            <th><span>10</span></th>
                        </tr>
                        <tr>
                            <th><span>A</span></th>
                            <td><span row="1" col="1"></span></td>
                            <td><span row="1" col="2"></span></td>
                            <td><span row="1" col="3"></span></td>
                            <td><span row="1" col="4"></span></td>
                            <td><span row="1" col="5"></span></td>
                            <td><span row="1" col="6"></span></td>
                            <td><span row="1" col="7"></span></td>
                            <td><span row="1" col="8"></span></td>
                            <td><span row="1" col="9"></span></td>
                            <td><span row="1" col="10"></span></td>
                        </tr>
                        <tr>
                            <th><span>B</span></th>
                            <td><span row="2" col="1"></span></td>
                            <td><span row="2" col="2"></span></td>
                            <td><span row="2" col="3"></span></td>
                            <td><span row="2" col="4"></span></td>
                            <td><span row="2" col="5"></span></td>
                            <td><span row="2" col="6"></span></td>
                            <td><span row="2" col="7"></span></td>
                            <td><span row="2" col="8"></span></td>
                            <td><span row="2" col="9"></span></td>
                            <td><span row="2" col="10"></span></td>
                        </tr>
                        <tr>
                            <th><span>C</span></th>
                            <td><span row="3" col="1"></span></td>
                            <td><span row="3" col="2"></span></td>
                            <td><span row="3" col="3"></span></td>
                            <td><span row="3" col="4"></span></td>
                            <td><span row="3" col="5"></span></td>
                            <td><span row="3" col="6"></span></td>
                            <td><span row="3" col="7"></span></td>
                            <td><span row="3" col="8"></span></td>
                            <td><span row="3" col="9"></span></td>
                            <td><span row="3" col="10"></span></td>
                        </tr>
                        <tr>
                            <th><span>D</span></th>
                            <td><span row="4" col="1"></span></td>
                            <td><span row="4" col="2"></span></td>
                            <td><span row="4" col="3"></span></td>
                            <td><span row="4" col="4"></span></td>
                            <td><span row="4" col="5"></span></td>
                            <td><span row="4" col="6"></span></td>
                            <td><span row="4" col="7"></span></td>
                            <td><span row="4" col="8"></span></td>
                            <td><span row="4" col="9"></span></td>
                            <td><span row="4" col="10"></span></td>
                        </tr>
                        <tr>
                            <th><span>E</span></th>
                            <td><span row="5" col="1"></span></td>
                            <td><span row="5" col="2"></span></td>
                            <td><span row="5" col="3"></span></td>
                            <td><span row="5" col="4"></span></td>
                            <td><span row="5" col="5"></span></td>
                            <td><span row="5" col="6"></span></td>
                            <td><span row="5" col="7"></span></td>
                            <td><span row="5" col="8"></span></td>
                            <td><span row="5" col="9"></span></td>
                            <td><span row="5" col="10"></span></td>
                        </tr>
                        <tr>
                            <th><span>F</span></th>
                            <td><span row="6" col="1"></span></td>
                            <td><span row="6" col="2"></span></td>
                            <td><span row="6" col="3"></span></td>
                            <td><span row="6" col="4"></span></td>
                            <td><span row="6" col="5"></span></td>
                            <td><span row="6" col="6"></span></td>
                            <td><span row="6" col="7"></span></td>
                            <td><span row="6" col="8"></span></td>
                            <td><span row="6" col="9"></span></td>
                            <td><span row="6" col="10"></span></td>
                        </tr>
                        <tr>
                            <th><span>G</span></th>
                            <td><span row="7" col="1"></span></td>
                            <td><span row="7" col="2"></span></td>
                            <td><span row="7" col="3"></span></td>
                            <td><span row="7" col="4"></span></td>
                            <td><span row="7" col="5"></span></td>
                            <td><span row="7" col="6"></span></td>
                            <td><span row="7" col="7"></span></td>
                            <td><span row="7" col="8"></span></td>
                            <td><span row="7" col="9"></span></td>
                            <td><span row="7" col="10"></span></td>
                        </tr>
                        <tr>
                            <th><span>H</span></th>
                            <td><span row="8" col="1"></span></td>
                            <td><span row="8" col="2"></span></td>
                            <td><span row="8" col="3"></span></td>
                            <td><span row="8" col="4"></span></td>
                            <td><span row="8" col="5"></span></td>
                            <td><span row="8" col="6"></span></td>
                            <td><span row="8" col="7"></span></td>
                            <td><span row="8" col="8"></span></td>
                            <td><span row="8" col="9"></span></td>
                            <td><span row="8" col="10"></span></td>
                        </tr>
                        <tr>
                            <th><span>I</span></th>
                            <td><span row="9" col="1"></span></td>
                            <td><span row="9" col="2"></span></td>
                            <td><span row="9" col="3"></span></td>
                            <td><span row="9" col="4"></span></td>
                            <td><span row="9" col="5"></span></td>
                            <td><span row="9" col="6"></span></td>
                            <td><span row="9" col="7"></span></td>
                            <td><span row="9" col="8"></span></td>
                            <td><span row="9" col="9"></span></td>
                            <td><span row="9" col="10"></span></td>
                        </tr>
                        <tr>
                            <th><span>J</span></th>
                            <td><span row="10" col="1"></span></td>
                            <td><span row="10" col="2"></span></td>
                            <td><span row="10" col="3"></span></td>
                            <td><span row="10" col="4"></span></td>
                            <td><span row="10" col="5"></span></td>
                            <td><span row="10" col="6"></span></td>
                            <td><span row="10" col="7"></span></td>
                            <td><span row="10" col="8"></span></td>
                            <td><span row="10" col="9"></span></td>
                            <td><span row="10" col="10"></span></td>
                        </tr>
                    </table>
                </div>
                <div class="field-wrap user-field-wrap">
                    <p class="title">Your ships</p>
                    <table class="field-table user-field-table">
                        <tr>
                            <th><span> </span></th>
                            <th><span>1</span></th>
                            <th><span>2</span></th>
                            <th><span>3</span></th>
                            <th><span>4</span></th>
                            <th><span>5</span></th>
                            <th><span>6</span></th>
                            <th><span>7</span></th>
                            <th><span>8</span></th>
                            <th><span>9</span></th>
                            <th><span>10</span></th>
                        </tr>
                        <tr>
                            <th><span>A</span></th>
                            <td><span row="1" col="1"></span></td>
                            <td><span row="1" col="2"></span></td>
                            <td><span row="1" col="3"></span></td>
                            <td><span row="1" col="4"></span></td>
                            <td><span row="1" col="5"></span></td>
                            <td><span row="1" col="6"></span></td>
                            <td><span row="1" col="7"></span></td>
                            <td><span row="1" col="8"></span></td>
                            <td><span row="1" col="9"></span></td>
                            <td><span row="1" col="10"></span></td>
                        </tr>
                        <tr>
                            <th><span>B</span></th>
                            <td><span row="2" col="1"></span></td>
                            <td><span row="2" col="2"></span></td>
                            <td><span row="2" col="3"></span></td>
                            <td><span row="2" col="4"></span></td>
                            <td><span row="2" col="5"></span></td>
                            <td><span row="2" col="6"></span></td>
                            <td><span row="2" col="7"></span></td>
                            <td><span row="2" col="8"></span></td>
                            <td><span row="2" col="9"></span></td>
                            <td><span row="2" col="10"></span></td>
                        </tr>
                        <tr>
                            <th><span>C</span></th>
                            <td><span row="3" col="1"></span></td>
                            <td><span row="3" col="2"></span></td>
                            <td><span row="3" col="3"></span></td>
                            <td><span row="3" col="4"></span></td>
                            <td><span row="3" col="5"></span></td>
                            <td><span row="3" col="6"></span></td>
                            <td><span row="3" col="7"></span></td>
                            <td><span row="3" col="8"></span></td>
                            <td><span row="3" col="9"></span></td>
                            <td><span row="3" col="10"></span></td>
                        </tr>
                        <tr>
                            <th><span>D</span></th>
                            <td><span row="4" col="1"></span></td>
                            <td><span row="4" col="2"></span></td>
                            <td><span row="4" col="3"></span></td>
                            <td><span row="4" col="4"></span></td>
                            <td><span row="4" col="5"></span></td>
                            <td><span row="4" col="6"></span></td>
                            <td><span row="4" col="7"></span></td>
                            <td><span row="4" col="8"></span></td>
                            <td><span row="4" col="9"></span></td>
                            <td><span row="4" col="10"></span></td>
                        </tr>
                        <tr>
                            <th><span>E</span></th>
                            <td><span row="5" col="1"></span></td>
                            <td><span row="5" col="2"></span></td>
                            <td><span row="5" col="3"></span></td>
                            <td><span row="5" col="4"></span></td>
                            <td><span row="5" col="5"></span></td>
                            <td><span row="5" col="6"></span></td>
                            <td><span row="5" col="7"></span></td>
                            <td><span row="5" col="8"></span></td>
                            <td><span row="5" col="9"></span></td>
                            <td><span row="5" col="10"></span></td>
                        </tr>
                        <tr>
                            <th><span>F</span></th>
                            <td><span row="6" col="1"></span></td>
                            <td><span row="6" col="2"></span></td>
                            <td><span row="6" col="3"></span></td>
                            <td><span row="6" col="4"></span></td>
                            <td><span row="6" col="5"></span></td>
                            <td><span row="6" col="6"></span></td>
                            <td><span row="6" col="7"></span></td>
                            <td><span row="6" col="8"></span></td>
                            <td><span row="6" col="9"></span></td>
                            <td><span row="6" col="10"></span></td>
                        </tr>
                        <tr>
                            <th><span>G</span></th>
                            <td><span row="7" col="1"></span></td>
                            <td><span row="7" col="2"></span></td>
                            <td><span row="7" col="3"></span></td>
                            <td><span row="7" col="4"></span></td>
                            <td><span row="7" col="5"></span></td>
                            <td><span row="7" col="6"></span></td>
                            <td><span row="7" col="7"></span></td>
                            <td><span row="7" col="8"></span></td>
                            <td><span row="7" col="9"></span></td>
                            <td><span row="7" col="10"></span></td>
                        </tr>
                        <tr>
                            <th><span>H</span></th>
                            <td><span row="8" col="1"></span></td>
                            <td><span row="8" col="2"></span></td>
                            <td><span row="8" col="3"></span></td>
                            <td><span row="8" col="4"></span></td>
                            <td><span row="8" col="5"></span></td>
                            <td><span row="8" col="6"></span></td>
                            <td><span row="8" col="7"></span></td>
                            <td><span row="8" col="8"></span></td>
                            <td><span row="8" col="9"></span></td>
                            <td><span row="8" col="10"></span></td>
                        </tr>
                        <tr>
                            <th><span>I</span></th>
                            <td><span row="9" col="1"></span></td>
                            <td><span row="9" col="2"></span></td>
                            <td><span row="9" col="3"></span></td>
                            <td><span row="9" col="4"></span></td>
                            <td><span row="9" col="5"></span></td>
                            <td><span row="9" col="6"></span></td>
                            <td><span row="9" col="7"></span></td>
                            <td><span row="9" col="8"></span></td>
                            <td><span row="9" col="9"></span></td>
                            <td><span row="9" col="10"></span></td>
                        </tr>
                        <tr>
                            <th><span>J</span></th>
                            <td><span row="10" col="1"></span></td>
                            <td><span row="10" col="2"></span></td>
                            <td><span row="10" col="3"></span></td>
                            <td><span row="10" col="4"></span></td>
                            <td><span row="10" col="5"></span></td>
                            <td><span row="10" col="6"></span></td>
                            <td><span row="10" col="7"></span></td>
                            <td><span row="10" col="8"></span></td>
                            <td><span row="10" col="9"></span></td>
                            <td><span row="10" col="10"></span></td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="col-md-6">
                <div class="chat-wrap">
                    <p id="room_name" class="room-name">Room: <span></span></p>
                    <p id="player_name" class="player-name">Player name: <span></span></p>
                    <hr>
                    <div class="players-wrap">
                        <p id="player_1"><b>Player 1: </b><span></span></p>
                        <p id="player_2"><b>Player 2: </b><span>Waiting...</span></p>
                    </div>
                    <hr>
                    <div id="conversation" class="chat">

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    var socket = io();

    var user_ships_field = [
        [0,0,0,0,0,0,0,0,0,0],
        [0,0,0,0,0,0,0,0,0,0],
        [0,0,0,0,0,0,0,0,0,0],
        [0,0,0,0,0,0,0,0,0,0],
        [0,0,0,0,0,0,0,0,0,0],
        [0,0,0,0,0,0,0,0,0,0],
        [0,0,0,0,0,0,0,0,0,0],
        [0,0,0,0,0,0,0,0,0,0],
        [0,0,0,0,0,0,0,0,0,0],
        [0,0,0,0,0,0,0,0,0,0]
    ];

    var opponent_ships_field = [
        [0,0,0,0,0,0,0,0,0,0],
        [0,0,0,0,0,0,0,0,0,0],
        [0,0,0,0,0,0,0,0,0,0],
        [0,0,0,0,0,0,0,0,0,0],
        [0,0,0,0,0,0,0,0,0,0],
        [0,0,0,0,0,0,0,0,0,0],
        [0,0,0,0,0,0,0,0,0,0],
        [0,0,0,0,0,0,0,0,0,0],
        [0,0,0,0,0,0,0,0,0,0],
        [0,0,0,0,0,0,0,0,0,0]
    ];

    var my_username = '';


    socket.on('update-rooms-list', function (rooms) {
        $('#choosen_room')
            .find('option')
            .remove()
            .end()
            .append('<option value="">Select room</option>');
        $.each(rooms, function(key, room) {
            $('#choosen_room').append('<option value="' + room.id + '">' + room.name + '(' + room.player_1 + ' ' + room.player_2 + ')</option>');
        });
    });



    $("#join").click(function(){
        var name = $("#name").val();
        var choosen_room = $("#choosen_room").val();
        var user_ships = user_ships_field;
        var opponent_ships = opponent_ships_field;
        if (name != "") {
            if(choosen_room != ""){
                socket.emit("player_join_choosen_rooom", name, user_ships, opponent_ships, choosen_room);
            }else {
                socket.emit("player_join_new_rooom", name, user_ships, opponent_ships);
            }
            $(".new-player-form-wrap").hide();
            $(".sea-battle-wrap").show();

        }
    });



    socket.on('update_user_room_info', function (room_info) {
        $('#room_name span').text(room_info.name);
        if(room_info.player_1 !== undefined){
            $('#player_1 span').text(room_info.player_1);
        }else{
            $('#player_1 span').text('');
        }
        if(room_info.player_2 !== undefined){
            $('#player_2 span').text(room_info.player_2);
        }else{
            $('#player_2 span').text('');
        }
    });
    socket.on('update_user_name_info', function (username) {
        my_username = username;
        $('#player_name span').text(username);
    });


    socket.on('game_started', function (username) {
        $('#conversation').append('<b>SERVER:</b> It`s ' + username + '`s turn<br>');
        $('.opponent-field-table').removeClass('not-started');
        if(username !== my_username){
            $('.opponent-field-table').addClass('disabled');
        }
    });

    // listener, whenever the server emits 'updatechat', this updates the chat body
    socket.on('updatechat', function (username, data) {
        $('#conversation').append('<b>'+username + ':</b> ' + data + '<br>');
    });
    socket.on('update_user_field', function (user_ships) {
        user_ships_field = user_ships;
        buildUserField(user_ships, '.user-field-table');
    });
    socket.on('update_opponent_field', function (opponent_ships, name) {
        if(name === my_username) {
            opponent_ships_field = opponent_ships;
            buildUserField(opponent_ships, '.opponent-field-table');
        }
    });
    socket.on("update-players", function(chatusers){
        $("#players ul").empty();
        $.each(chatusers, function(key, user) {
            $('#players ul').append("<li><p>" + user.name + " (" + user.room + ")</p></li>");
        });
    });
    socket.on('next_turn', function (name) {
        if(name !== my_username) {
            $('.opponent-field-table').removeClass('disabled');
        }else{
            $('.opponent-field-table').addClass('disabled');
        }
        $('#conversation').append('<b>SERVER:</b> It`s ' + name + '`s turn<br>');
    });


    socket.on("update_user_gamefield", function(user_ships){
        buildUserField(user_ships, '.user-field-table');
    });

    $(document).on('click', '.user-setting-ships-table td span', function () {
        var row = $(this).attr('row'),
                col = $(this).attr('col');
        if(user_ships_field[row - 1][col - 1] === 0){
            user_ships_field[row - 1][col - 1] = 1;
        }else{
            user_ships_field[row - 1][col - 1] = 0;
        }

        buildUserField(user_ships_field, '.user-setting-ships-table');
    });
    $(document).on('click', '.opponent-field-table td span:not(.missed):not(.killed)', function () {
        var row = $(this).attr('row'),
            col = $(this).attr('col');
        socket.emit('click_opponent_cell', row, col);
    });


    function buildUserField(shipsArray, table){
        for(let i = 0; i < shipsArray.length; i++){
            for(let j = 0; j < shipsArray.length; j++ ){
                if(shipsArray[i][j] === 1){
                    $(table + ' span[row="' + (i + 1) + '"][col="' + (j + 1) + '"]').removeClass();
                    $(table + ' span[row="' + (i + 1) + '"][col="' + (j + 1) + '"]').addClass('ship');
                }else if(shipsArray[i][j] === 2){
                    $(table + ' span[row="' + (i + 1) + '"][col="' + (j + 1) + '"]').removeClass();
                    $(table + ' span[row="' + (i + 1) + '"][col="' + (j + 1) + '"]').addClass('missed');
                }else if(shipsArray[i][j] === 3){
                    $(table + ' span[row="' + (i + 1) + '"][col="' + (j + 1) + '"]').removeClass();
                    $(table + ' span[row="' + (i + 1) + '"][col="' + (j + 1) + '"]').addClass('killed');
                }else{
                    $(table + ' span[row="' + (i + 1) + '"][col="' + (j + 1) + '"]').removeClass();
                }
            }
        }
    }

</script>