<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>{{title}}</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <script src="/javascripts/jquery-2.2.4.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <header class="main-header">
        <div class="container-fluid">
            <div class="col-sm-3">
                <div class="logo-wrap">
                    Logo
                </div>
            </div>
            <div class="col-sm-9">
                <nav class="main-nav">
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/seabattle">Seabattle</a></li>
                        <li><a href="/admin">Admin</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <main>
        {{{body}}}
    </main>

</body>
</html>
