body{
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: 1.6;
  letter-spacing: 1px;
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
  background-color: #E0E0E0;
}
a{
  color: #0e0e0e;
  text-decoration: none;
  outline: 0;
  &:hover, &:focus{
    text-decoration: none;
    color: #0e0e0e;
    outline: 0;
  }
}

ul{
  margin: 0;
  padding: 0;
  list-style: none;
}

h1, h2, h3, h4, h5, p{
  margin: 0;
  font-weight: normal;
}

input{
  -webkit-appearance:none;

}

.input-text{
  display: inline-block;
  outline: none;
  box-shadow: none;
  border: 0;
  border-bottom: 1px solid #333333;
  background-color: #ffffff;
  width: 100%;
  margin-bottom: 20px;
}

.select-box{
  display: inline-block;
  outline: none !important;
  box-shadow: none;
  border: 0;
  border-bottom: 1px solid #333333;
  background-color: #ffffff;
  width: 100%;
  margin-bottom: 20px;
}

.button{
  display: inline-block;
  outline: none;
  border: 0;
  box-shadow: none;
  padding: 10px 20px;
  font-size: 16px;
  line-height: 1;
  width: 100%;
  margin-bottom: 20px;
  background-color: #283593;
  color: #fff;
  border: 1px solid;
  border-color: #283593;
  transition: all 0.4s;
  &:hover{
    background-color: #fff;
    color: #283593;
  }
  &.button-join-game{
    padding: 20px 40px;
    background-color: #b71c1c;
    border-color: #b71c1c;
    font-size: 18px;
    text-transform: uppercase;
    &:hover{
      background-color: #fff;
      color: #b71c1c;
    }
  }
}


header{
  padding: 20px 0;
  color: #ffffff;
  nav{
    ul{
      text-align: right;
      li{
        display: inline-block;
        margin-left: 20px;
        a{
          color: #ffffff;
          display: inline-block;
          position: relative;
          &:after{
            content: ' ';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 2px;
            background-color: #fff;
            visibility: hidden;
            opacity: 0;
            transform: translateY(100%);
            transition: all 0.3s;
          }
          &:hover, &:focus{
            color: #ffffff;
            &:after{
              visibility: visible;
              opacity: 1;
              transform: translateY(0);
            }
          }
        }
      }
    }
  }
  &.main-header{
    background-color: #283593;
  }
  &.admin-header{
    background-color: #000000;
  }
  
}


.sea-battle-wrap{
  margin: 40px 0;
}
.new-player-form-wrap{
  padding: 10vh 0;
  background-color: #fff;
  min-height: 100vh;
  text-align: center;
  .player-login-title-wrap{
    margin-bottom: 40px;
  }
  .player-name-form{
    padding: 200px 0;
  }
}
.field-wrap{
  background-color: #fff;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  .title{
    display: inline-block;
    width: 100%;
    padding: 0 0 10px;
    margin: 0;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    color: #283593;
  }
}
.chat-wrap{
  background-color: #fff;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  padding: 20px;
  .room-name, .player-name{
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: #283593;
    span{
      font-weight: normal;
      color: #000;
    }
  }
  hr{
    margin-top: 10px;
  }
  .chat{
    border: 1px solid #ccc;
    font-size: 14px;
    padding: 10px;
    background-color: #f2f2f2;
  }
}

.field-table{
  width: 100%;
  background-color: #fff;
  position: relative;
  &:before{
    display: none;
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    width: 101%;
    height: 100%;
    background-color: rgba(#fff, 0.8);
    z-index: 2;
  }
  &:after{
    display: none;
    content: 'Wait for Your turn';
    position: absolute;
    font-size: 30px;
    font-weight: bold;
    color: #283593;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    text-align: center;
    width: 100%;
    height: auto;
    z-index: 3;
  }
  &.disabled{
    pointer-events: none;
    &:after, &:before{
      display: block;
    }
  }
  &.not-started{
    pointer-events: none;
    &:after, &:before{
      display: block;
    }
    &:after{
      content: 'Wait for another player';
    }
  }
  td, th{
    width: 9%;
    padding-bottom: 9%;
    border: 1px solid #000;
    vertical-align: middle;
    position: relative;
    span{
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      text-align: center;

    }

  }
  th{
    background-color: #283593;
    color: #fff;
  }
  td{
    span{
      cursor: pointer;
      &.ship{
        background-color: blue;
      }
      &.missed{
        background-color: grey;
        cursor: not-allowed;
      }
      &.killed{
        background-color: red;
        cursor: not-allowed;
      }
    }
  }

}